body {
  background-color: aliceblue;
  margin: 0; 
}
p{
  font-size: 18px;
}
button{
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  color: #111;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
button:hover {
  color: aqua;
}



nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #ffffff; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  height: 80px;
}


#left-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}h3 {
  margin: 0;
  padding-left: 3vw;
  color: #111;
  font-weight: bold;
  font-size: x-large;
}


.icons {
  width: 40px; 
  height: auto;
}

.basket-count {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

#lower-basket-icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
} li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} a{
  padding: 0 15px;
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
} h6 {
  margin: 0; 
  padding: 0;
  font-size: 12px;
} a:hover {
  color: aqua;
}


.hamburger {
  display: none;
}

main { 
  grid-area: main; 
  background: aliceblue; 
}

/* Booklist */
#booklist {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 30px; 
  justify-content: center; 
  place-items: center; 
  list-style: none;
  padding: 0;
  margin: 0;
} 

#booklist-title, h1{
  font-size: 50px;
  padding-left: 5vw;
}

#booklist li {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  width: 40vw;
  padding: 30px;
  gap: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.book-cover {
  width: auto;
  height: 350px;
}

.book-title {
  font-size: 37px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  text-align: left;
}

.book-info p {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 1.4;
    overflow: hidden;
    max-height: 10em; 
    transition: max-height 0.5s ease-in-out;
}


.book-info p.expanded {
    max-height: 1000px; 
}

.show-more-btn {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.add-btn {
  align-self: center;
  padding: 8px 16px;
  cursor: pointer;
}




footer{
  margin-top: 20px;
  text-align: center ;
  width: 100vw;
  min-height: 200px;
  background-color: black ;
  color: #f0f0f0;
}




/* Basket */

.basket-container, .payment-container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.basket-summary, .checkout-summary {
    margin-top: 30px;
    text-align: right;
    border-top: 2px solid #333;
    padding-top: 20px;
}
.basket-details h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

#checkout-btn {
    background-color: aqua;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
#checkout-btn:hover {
    color: black;
}

.checkout-img{
    width:200px;
    height:auto;
    object-fit:cover;
}



/* Credit Card */
.credit-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}
.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
 
.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}
.title {
    font-size: 18px;
    margin: 0;
    color: #333333;
}
.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
 
.form-body .card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}
.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}
.cvv-input input {
    float: left;
    width: 40%;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}
 
.cvv-details {
    font-size: 12px;
    float: right;
    width: 50%;
} p {
    margin-top: 0px;
}

.error-message {
    color: #dc3545;
    font-size: 0.85rem;
    margin-bottom: 5px;
    margin-top: 10px;
    min-height: 15px;
    font-weight: bold;
}


/* Checkout Summary */
.pay-summary {
    margin-top: 30px;
    text-align: left;
    border-top: 2px solid #333;
    padding-top: 20px;
}

.continue-link , .payment-btn, .add-btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.add-btn{
  display: flex ;
  margin-left: 0;
  float: center;
}
  

.continue-link:hover , .payment-btn:hover, .add-btn:hover {
    background-color: aqua;
    color: black;
}


/* Notification */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.notification.show {
    display: block;
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-message {
    margin: 0;
}

.notification-actions {
    display: flex;
    align-items: center;
}

.basket-btn {
    background: aqua;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.basket-btn:hover {
    background: darken(aqua, 10%);
}


/* Responsive design */
@media (max-width: 768px) {
  /* Navbar */
  nav {
    flex-wrap: wrap; 
    height: auto;
    padding: 10px 20px;
  }

  #right-navbar {
    display: contents; 
  }

  .hamburger {
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 68px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333333;
    border-radius: 2px;
  }

  .nav-buttons {
    display: none; 
    flex-direction: column;
    width: 100vw;
    padding: 20px 0;
    gap:15px;
    background-color: #ffffff;
  }

  .nav-buttons li {
    width: 100vw;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
  }

  .nav-buttons a {
    font-size: 18px;
    width: 100vw;
    text-align: center;
  }

  #left-navbar {
    height: 60px;
  }

  #lower-basket-icon {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  /* Booklist */
  #booklist {
    grid-template-columns: 1fr;
  }
  #booklist li {
    height: fit-content;
    width: 86vw;
    padding: 15px;
    gap: 20px;
  }
  .book-cover {
    height: 200px;
    width: auto;
  }
  .book-title {
  font-size: 20px;
  }
 .book-info p{
  font-size: 16px;
 }


 /* checkout */
 .checkout-img{
  width: 100px;
 }


 /* Notification */
 .notification {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background: #333;
     color: #fff;
     padding: 15px 20px;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     display: none;
 }

 .notification.show {
     display: block;
 }

 .notification-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .notification-message {
     margin: 0;
 }

 .notification-actions {
     display: flex;
     align-items: center;
 }

 .basket-btn {
     background: aqua;
     border: none;
     padding: 5px 10px;
     border-radius: 5px;
     cursor: pointer;
     display: none;
 }

 .basket-btn:hover {
     background: darken(aqua, 10%);
 }
}